fbchat @ https://github.com/rafiibrahim8/fbchat/archive/refs/heads/maintenance.zip
browser-cookie3
Flask-SocketIO
pycryptodome
Flask-Login
SQLAlchemy
requests
psutil
Flask
click
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
